/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Responsive Styles for 350px or less */
@media (max-width: 350px) {
  .card {
    width: 100%; /* Make card take the full width */
    margin: 0 auto; /* Center the card */
  }

  .form-control {
    width: 100%; /* Full width for the search input */
  }

  .pagination {
    justify-content: center; /* Center pagination */
  }

  .pagination .page-link {
    font-size: 12px; /* Adjust font size for pagination numbers */
  }

  .card img {
    max-width: 100%; /* Scale images to fit card width */
    height: auto; /* Maintain aspect ratio */
  }

  .card-body {
    text-align: center; /* Center align content inside the card */
  }

  button {
    width: 100%; /* Make buttons stack and take full width */
    margin-bottom: 10px; /* Add spacing between buttons */
    border-radius: 20px; /* Rounded buttons */
  }
}

.text-orange {
  color: #ff6b00;
}

.bg-orange {
  background-color: #ff6b00;
  color: white;
}

.pagination {
  margin: 0 auto;
}
.page-item.active .page-link {
  background-color: orange;
  border-color: orange;
  color: white;
}
.page-item .page-link {
  color: #007bff;
  transition: 0.3s;
}
.page-item .page-link:hover {
  color: #0056b3;
}




